<h1>Listing monkeys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monkeys.each do |monkey| %>
  <tr>
    <td><%= monkey.name %></td>
    <td><%= monkey.desc %></td>
    <td><%= link_to 'Show', monkey %></td>
    <td><%= link_to 'Edit', edit_monkey_path(monkey) %></td>
    <td><%= link_to 'Destroy', monkey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monkey', new_monkey_path %>
