<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @monkey.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @monkey.desc %>
</p>


<%= link_to 'Edit', edit_monkey_path(@monkey) %> |
<%= link_to 'Back', monkeys_path %>
